# TODO:
{% for key , values in r.get_multi_type("todo") %}
    {% if key == "_unset_" %}
### Without section:
    {% for item in values %}
* {{ item.desc }} {% if not r.is_role() %}({{ r.fprn(item.role) }}){% endif %}

    {% endfor %}
    {% endif %}
{% endfor %}

{% for key , values in r.get_multi_type("todo") %}
    {% if key != "_unset_" %}
### {{ r.capitalize(key) }}:
        {% for item in values %}
* {% if item.value %}{{ item.value }} - {% endif %}{{ item.desc }} {% if not r.is_role() %}({{ r.fprn(item.role) }}){% endif %}

        {% endfor %}
    {%  endif %}
{%  endfor %}

{{ r.about() }}