# Variables:
## List of roles
{% for role in r.get_roles(False) %}
    {% if  r.get_type("var",role) %}
* [{{ r.capitalize(r.fprn(role)) }}](#{{ r.fprn(role) }})
    {% endif %}
{% endfor %}

## Details

{% for role in r.get_roles(False) %}
    {% if  r.get_type("var",role) %}
### {{ r.capitalize(r.fprn(role)) }}:
    {% endif %}
    {% for item in  r.get_type("var",role) %}
* `{{ item.key }}`: `{{item.value }}` - {{ item.desc }}
{%  if item.example != "" %}{% include '_example.j2'  %}{% endif %}
    {%  endfor %}

{% endfor %}

{{ r.about() }}