# ============================================================
# Tags (variable: tags)
# ============================================================

{% for role,role_value in tags._roles_.items() %}
    {% if role != "_ansible_playbook_" %}
Role: "{{ role }}":
    {% else %}
Playbook Tags:
    {% endif %}
    {% for tag,value in role_value.items() %}
        {% if tag |length > 13 %}
- {{ tag }}{{ "\t" |e }} {{ value.text }}
        {% elif tag |length > 5 %}
- {{ tag }}{{ "\t\t" |e }} {{ value.text }}
        {% elif tag |length > 4 %}
- {{ tag }}{{ "\t\t\t" |e }} {{ value.text }}
        {% else %}
- {{ tag }}{{ "\t\t\t\t" |e }} {{ value.text }}
        {% endif %}
    {% endfor %}

{% endfor %}
{% if tags._annotation_duplicate_.items() | length > 0 %}
# ============================================================
Duplicated Tags:
{% for k,tag_list in tags._annotation_duplicate_.items() %}

- {{ tag_list[0].key }} in files:
        {% for tag  in tag_list  %}
  * {{ tag.file }} : {{ tag.line }}
        {% endfor %}
    {% endfor %}
{% else %}
# ============================================================
No Duplicated Tags.
{% endif %}
{% if tags._yaml_duplicate_.items() | length > 0 and not is_role%}
# ============================================================
Tags used in more than one role:
    {% for k,tag_list in tags._yaml_duplicate_.items() %}

- Tag: "{{ tag_list[0].key }}" is used in roles:
        {% for tag  in tag_list  %}
  * {{ tag.role }}
        {% endfor %}
    {% endfor %}
{% endif %}
