# ============================================================
# Variables (variable: var)
# ============================================================
{% for role,role_value in var._roles_.items() %}
    {% include '_role_head.j2'  %}
    {% for k,item in role_value.items() %}
        {% if item.key | length > 13 %}
- {{ item.key }}: {{ item.value }} {{ "\t" |e }} {{ item.text }}
        {% elif tag | length > 5 %}
- {{ item.key }}: {{ item.value }}{{ "\t\t" |e }} {{ item.text }}
        {% elif tag | length > 4 %}
- {{ item.key }}: {{ item.value }}{{ "\t\t\t" |e }} {{ item.text }}
        {% else %}
- {{ item.key }}: {{ item.value }}{{ "\t\t\t\t" |e }} {{ item.text }}
        {% endif %}
        {% if item.example is defined %}
  Example: {{ item.example.key }} ::   {{ item.example.text }}
            {% for example_line in item.example.multi_line %}
    {{ example_line }}
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endfor %}
{% if var._duplicate_.items() | length > 0 %}
# ============================================================
Duplicated Variables:

{% for k,var_list in var._duplicate_.items() %}
- "{{ var_list[0].key }}" in files:
    {% for item  in var_list  %}
  * {{ item.file }} : {{ item.line }}
    {% endfor %}
{% endfor %}
{% else %}
# ============================================================
No Duplicated Variables.
{% endif %}
{#{{ var | pprint }}#}


